@import '../../css/variable.less';

.tabs {
    padding: 0 30/@REM;
    background-color: #fff;
    border-bottom: 1px solid @BORDER_COLOR;
    /*ul {
        padding: 0 30/@REM;
        background-color: #fff; 
    }*/
    a {
        position: relative;
        display: inline-block;
        width: 50%;
        line-height: @TAB_HEIGHT;
        text-align: center;
        font-size: @TAB_FONT_SIZE;
        color: @MAIN_COLOR;
        cursor: pointer;
        &.active {
            &:after {
                position: absolute;
                left: 0;
                bottom: 0;
                content: '';
                display: inline-block;
                width: 100%;
                border: 2/@REM solid @TAB_ACTIVE_BODER_COLOR;
            }    
        }
    }
}

.generate-tabs(@n, @i: 2) when (@i <= @n) {
    .tabs-@{i} a {
        width: (100% / @i);
    }
    .generate-tabs(@n, (@i + 1));
}

.generate-tabs(5);