@import '../../../css/variable.less';

#gallery-wall {
    background-color: #fff;
    padding: 30/@REM;
    overflow: hidden;
    .gallery-wall-left {
        float: left;
        width: 50%;
        background-color: #eee;
    }
    .gallery-wall-right {
        float: left;
        width: 50%;
        background-color: #aaa;
    }
    .gallery-wall-item {
        padding: 10/@REM;
        height: 400/@REM;
    }
}