@import '../../../css/variable.less';

#gallery-wall {
    background-color: #fff;
    padding: 15/@REM;
    overflow: hidden;
    .gallery-wall-left {
        float: left;
        width: 50%;
    }
    .gallery-wall-right {
        float: left;
        width: 50%;
    }
    .gallery-wall-item {
        padding: 7.5/@REM;
    }
}

#swiper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    margin-left: -@GAP_WIDTH;
    background-color: #000;
    overflow: hidden;
    div {
        width: 100%;
        height: 100%;   
    }
}
