@import '../../../css/variable.less';

.studio-index-page {
    .carousel-wrapper {
        min-height: 370/@REM;
        padding: @GAP_WIDTH;
        .carousel-dots,
        .carousel-dot {
            line-height: 0;
        }
        .carousel-dots {
            margin-bottom: @GAP_WIDTH;
        }
        .carousel-dot {
            display: inline-block;
            line-height: 0;
            width: 10/@REM;
            height: 10/@REM;
            border-radius: 50%;
            margin: 0 10/@REM;
            background-color: rgba(225, 225, 225, 0.6);
        }
        .carousel-dot-active {
            background-color: rgba(225, 225, 225, 0.9);
        }
    }
    .carousel-wrapper,
    .hot-courses,
    .hot-teachers {
        margin-bottom: @GAP_WIDTH;
        border-bottom: 1px solid @BORDER_COLOR;
        background-color: #fff;
    }
    .hot-courses,
    .hot-teachers,
    .intro {
        div.title {
            position: relative;
            padding: 0 30/@REM 0 50/@REM;
            line-height: 85/@REM;
            color: @MAIN_CONTENT_COLOR;
            border-bottom: 1px solid @BORDER_COLOR;
            background-color: #fff;
            h2 {
                font-size: 26/@REM;
            }
            
            &:before { 
                position: absolute;
                display: inline-block;
                content: "";
                top: 25%;
                left: 25/@REM;
                height: 50%;
                width: 0;
                border-left: 2px solid @WARN_COLOR;
                vertical-align: top;
            }
            a.link-more {
                position: absolute;
                right: @GAP_WIDTH;
                top: 0;
                font-size: 24/@REM;
                color: @WARN_COLOR;
            }
        }
    }
}

