@import '../../../css/variable.less';

#course-detail-page {
    margin-bottom: 115/@REM;
}

.course-info,
.course-prices {
    margin-bottom: @GAP_WIDTH;
    background-color: #fff;
    font-size: 22/@REM;
    color: @MAIN_COLOR;
    h2 {
        padding: 0 30/@REM;
        line-height: 85/@REM;
        color: @MAIN_CONTENT_COLOR;
        border-bottom: 1px solid @BORDER_COLOR;
        font-size: 26/@REM; 
        &::before {
            content: "";
            display: inline-block;
            position: relative;
            margin-right: 30/@REM;
            width: 4/@REM;
            height: 30/@REM;
            vertical-align: text-top;
            background-color: @WARN_COLOR;
        }  
    }
}
.course-cover {
    img {
        display: block;
        width: 100%;
    }  
}
.course-info {
    div {
        padding: 30/@REM;
        text-indent: 44/@REM;
        line-height: 40/@REM;   
    }
}
.course-prices {
    li {
        display: inline-block;
        width: 50%;
        padding: 30/@REM 20/@REM;
        text-align: center;
        border-bottom: 1px solid @BORDER_COLOR;
        &:nth-child(2n) {
            border-left: 1px solid @BORDER_COLOR;
        }
    }
    strong {
        color: @WARN_COLOR;
    }
}
.btn-phone {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: @GAP_WIDTH;
    line-height: 85/@REM;
    background-color: #fff;
    span {
        display: block;
        color: #fff;
        background-color: @WARN_COLOR;
        font-size: 26/@REM;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        &.disabled {
            color: rgba(0, 0, 0, 0.3);
            background-color: #f7f7f7;
        }
    } 
}

.tab-border-radius(@top-left, @top-right, @bottom-right, @bottom-left) {
    border-top-left-radius: @top-left;
    border-top-right-radius: @top-right;
    border-bottom-right-radius: @bottom-right;
    border-bottom-left-radius: @bottom-left;   
}

.consult-modal {
    @modal-width: 500/@REM;
    @modal-height: 650/@REM;
    @tab-border-radius-width: 10/@REM;

    position: absolute;
    height: @modal-height;
    width: @modal-width;
    top: 50%;
    left: 50%;
    right: initial;
    bottom: initial;
    margin-top: -@modal-height/2;
    margin-left: -@modal-width/2;
    background: rgb(255, 255, 255);
    border-radius: @tab-border-radius-width;
    outline: none;
    ul.consult-modal-tabs {
        li {
            position: relative;
            top: -10/@REM;
            display: inline-block;
            width: 50%;
            font-size: 28/@REM;
            color: @MAIN_COLOR;
            text-align: center;
            line-height: 90/@REM;
            background-color: #ececec;
            &:first-child {
                .tab-border-radius(@tab-border-radius-width, @tab-border-radius-width, @tab-border-radius-width, 0);
            }
            &:last-child {
                .tab-border-radius(@tab-border-radius-width, @tab-border-radius-width, 0, @tab-border-radius-width);
            }
            &.active {
                top: -20/@REM;
                background-color: #fff;
                color: @MAIN_CONTENT_COLOR;
            }
        }
    }
    .consult-form {
        input, textarea, .btn-group span {
            margin: 0 auto;
            margin-top: 20/@REM;
            padding: 10/@REM 30/@REM;
            line-height: 60/@REM;
            border: 1px solid #e7e7e7;
            border-radius: 5/@REM;
            font-size: 24/@REM;
        }
        input, textarea {
            display: block;  
            width: 90%;                      
        }
        input {
            height: 80/@REM;
        }
        div.btn-group {
            margin: 0 @GAP_WIDTH*2;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            span {
                margin-right: @GAP_WIDTH;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
                color: rgba(0, 0, 0, 0.3);
                background-color: #ececec;
                border: none;
                text-align: center;                
                &.btn-submit {
                    margin-left: @GAP_WIDTH;
                    margin-right: 0;
                    color: #fff;
                    background-color: @WARN_COLOR;  
                    border-color: @WARN_COLOR; 
                    &.btn-disabled {
                        color: rgba(0, 0, 0, 0.3);
                        background-color: #ececec;
                        border: none;
                    }
                }
            }
        }
    }
    .qr-code {
        padding: @GAP_WIDTH*2;
        img {
            display: block;
            width: 100%;
        }
        p {
            margin-top: @GAP_WIDTH;
            text-align: center;
            color: @SECOND_COLOR;
            font-size: 24/@REM;
        }
    }
}