@import '../../css/variable.less';

@AVATAR_SIZE : 150/@REM; 
@CARD_PADDING_SIZE : 30/@REM;

.profile-card {
    display: block;
    padding: @CARD_PADDING_SIZE;
    margin-bottom: @CARD_PADDING_SIZE/2; 
    border: solid @BORDER_COLOR;
    border-width: 1px 0;    
    background-color: #fff;
    color: @MAIN_COLOR;
    .profile {
        .label-teaching-age,
        .label-certified {
            float: right;
            margin-left: 10/@REM;
            margin-top: 14/@REM;
        }
        img.avatar {
            float: left;
            width: @AVATAR_SIZE;
            height: @AVATAR_SIZE;
            border: 1px solid @BORDER_COLOR;
            border-radius: 10/@REM;
        }
        div.detail {
            margin-left: @AVATAR_SIZE + @CARD_PADDING_SIZE;
            font-size: 22/@REM;  
            line-height: @CARD_PADDING_SIZE*2;          
            p.intro {
                line-height: 32/@REM;
                color: @SECOND_COLOR;
            }            
            strong {
                display: inline-block;
                vertical-align: top;
                color: @MAIN_CONTENT_COLOR;
                font-size: 30/@REM;
            }
        }
        div.counts {
            text-align: right;
            color: @SECOND_COLOR;
            i {
                margin-left: 30/@REM;
                margin-right: 10/@REM;
                font-size: 24/@REM;
            }    
        }
    }
    .course-list {
        font-size: 24/@REM;
        line-height: 45/@REM;
        span.type {
            background-color: @WARN_COLOR;
            color: #fff;
            font-size: 20/@REM;
            line-height: 20/@REM;
            padding: 10/@REM 20/@REM;
            border-radius: 2px;
        }
        span.other {
            float: right;
            strong {
                color: @WARN_COLOR;    
            }
        }
    }
    .course {
        margin-top: 24/@REM;
    }
}